@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Open+Sans:wght@400;500;600;700;800&family=Shrikhand&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #4D4E6C;
}
/* ------------------Header----------------- */


header {
    width: 100%;
    height: 100vh;
    background-color: #4D4E6C;
    display: flex;
    border-bottom: 1px solid #0f1c32;
}

.left-section,
.right-section {
    width: 100%;
    margin-top: 3rem;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-section {
    margin-bottom: 5rem;
    margin-left: 7rem;
    width: 30rem;
}

.text-section button {
    font-size: 15px;
    color: #F3F3F3;
    font-weight: 700;
    border: 2px solid #F3F3F3;
    background-color: transparent;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
}

.text-section button:hover {
    background-color: #0f1c32;
    transition: 0.2s ease-in-out
}

.title {
    font-size: 7rem;
    font-weight: 800;
    color: #F3F3F3;
    margin-bottom: -10px;
}

.text-section span {
    color: #0f1c32;
    font-weight: 800;
}

.description {
    font-size: 1rem;
    font-weight: 500;
    color: #F3F3F3;
    margin-bottom: 15px;
}


.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-section p {
    font-size: 3rem;
    font-weight: 800;
    color: #F3F3F3;
    margin-bottom: 30px;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: 'Silkscreen', cursive;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur;
}

.showing {
    width: 22rem;
    height: 27rem;
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6)
}

.showing-image {
    width: 19rem;
    height: 24rem;
    background-image: url("images/Thor.png");
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    border-radius: 30px;
    animation: change 30s infinite ease-in-out;
}

@keyframes change {
    20% {
        background-image: url("images/shanks-poster.jpg");
    }
    40% {
        background-image: url("images/drstrange.jpg");
    }
    60% {
        background-image: url("images/jujutsu.jpg");
    }
    80% {
        background-image: url("images/dragonball.jpg");
    }
    100% {
        background-image: url("images/DemonSlayer.jpg");
    }
}


/* ------------------About----------------- */


section {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
}

.about-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    z-index: 1;
}

.about-section .about {
    color: #F3F3F3;
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 5rem;
}

.about-container {
    width: 70%;
    height: 12rem;
    padding: 20px;
    border: none;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    margin-bottom: 3rem;
}

.about-container img {
    width: 15rem;
    border-radius: 20px;
    margin-right: 30px;
}

.about-container h2 {
    color: #F3F3F3;
    margin-bottom: 2rem;
}

.about-container p {
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 600;
}

.about-container:hover {
    transform: scale(1.1, 1.1);
    background-color: #545579;
    border: 1px solid black;
}

@media (max-width: 1100px) {
    header {
        height: 50rem;
    }
    section {
        height: 40rem;
    }
    .text-section {
        margin-left: 2rem;
    }
    .right-section p {
        font-size: 2rem;
    }
    .showing {
        width: 18rem;
        height: 23rem;
    }
    .showing-image {
        width: 15rem;
        height: 20rem;
    }
    .about-section .about {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .about-container {
        width: 45rem;
        height: 10rem;
        padding: 20px;
        margin-bottom: 2rem;
    }
    .about-container img {
        width: 12rem;
    }
    .about-container h2 {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 800px) {
    .text-section {
        margin-left: 2rem;
        width: 20rem;
    }
    .text-section button {
        font-size: 10px;
    }
    .right-section p {
        font-size: 1.5rem;
    }
    .showing {
        width: 15rem;
        height: 18rem;
    }
    .showing-image {
        width: 12rem;
        height: 15rem;
    }
    .title {
        font-size: 5rem;
    }
    .description {
        font-size: .9rem;
        font-weight: 500;
        color: #F3F3F3;
        margin-bottom: 15px;
    }
    .about-section .about {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .about-container {
        width: 30rem;
        height: 10rem;
        padding: 20px;
        margin-bottom: 2rem;
    }
    .about-container img {
        width: 12rem;
    }
    .about-container h2 {
        font-size: 20px;
        margin-bottom: 0.5rem;
    }
    .about-container p {
        font-size: 10px;
    }
}

@media (max-width: 620px) {
    header {
        flex-direction: column;
    }
    .left-section {
        align-items: center;
        height: 20rem;
    }
    .right-section {
        margin: 0;
        align-items: center;
    }
    .text-section {
        margin: 0;
        width: 15rem;
        text-align: center;
    }
    .text-section button {
        font-size: 13px;
    }
    .right-section p {
        font-size: 2rem;
        padding: 5px 18px;
        margin-bottom: 1rem;
    }
    .showing {
        width: 15rem;
        height: 17rem;
    }
    .showing-image {
        width: 13rem;
        height: 15rem;
    }
    .title {
        font-size: 5rem;
    }
    .description {
        font-size: .8rem;
        font-weight: 500;
        color: #F3F3F3;
        margin-bottom: 15px;
    }
    .about-section .about {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .about-container {
        width: 30rem;
        height: 10rem;
        padding: 20px;
        margin-bottom: 2rem;
    }
    .about-container img {
        width: 12rem;
    }
    .about-container h2 {
        font-size: 20px;
        margin-bottom: 0.5rem;
    }
    .about-container p {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    section {
        height: 30rem;
    }
    .about-section .about {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .about-container {
        width: 20rem;
        height: 8rem;
        padding: 20px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
    }
    .about-container img {
        width: 10rem;
        margin-right: 10px;
    }
    .about-container h2 {
        font-size: 10px;
        margin-bottom: 0.5rem;
    }
    .about-container p {
        font-size: 8px;
    }
}